#upload {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
#info {
	font-size: 75%;
}
#image {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
#image input[type="text"] {
	width: 100%;
}
#image img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 100%;
	max-height: 80%;
}

